@using Demo1.BL.Features.Users.Commands
@model CreateExternalUser

<h1>Create User</h1>
@using (Html.BeginForm("New", "Account", FormMethod.Post))
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.ExternalUserProfile.FirstName, htmlAttributes: new { @class =
              "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExternalUserProfile.FirstName, new { htmlAttributes = new { @class =
                  "form-control" } })
                @Html.ValidationMessageFor(model => model.ExternalUserProfile.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExternalUserProfile.LastName, htmlAttributes: new { @class =
              "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExternalUserProfile.LastName, new { htmlAttributes = new { @class =
                  "form-control" } })
                @Html.ValidationMessageFor(model => model.ExternalUserProfile.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExternalUserProfile.UserPrincipalName, htmlAttributes: new { @class =
              "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExternalUserProfile.UserPrincipalName, new { htmlAttributes = new { @class =
                  "form-control" } })
                @Html.ValidationMessageFor(model => model.ExternalUserProfile.UserPrincipalName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>

        @if (ViewBag.FailedReason.Length > 0)
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.FailedReason
            </div>
        }

    </div>
}